/* -- -- -- menu.html -- -- -- */
#heroes > section > a {
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    #heroes > section > a > div.container {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;
    }
    
    #heroes > section > a > div.container > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #heroes > section > a > div.container > img {
        border-top-right-radius: 7.5px;
        border-bottom-right-radius: 7.5px;
        margin-left: 0.0125px;
    }
}

@media screen and (max-width: 1023px) {
    #heroes > section > a > div.container {
        display: flex;
        flex-direction: column-reverse;
    }
    
    #heroes > section > a > div.container > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #heroes > section > a > div.container > img {
        border-top-left-radius: 7.5px;
        border-top-right-radius: 7.5px;
        margin-left: 0.0125px;
    }
}

.search {
    width: 100%;
    display: flex;
    justify-content: center;
}
