/* -- -- -- Fonts -- -- -- */
@font-face {
    font-family: 'Avenger';
    src: url('fonts/avenger.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* -- Définition du css pour toutes les pages -- */
html {
    width: 100%;
    background-color: #212121;
    color: #fff;
    font-family: 'San Francisco', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    margin: auto auto 50px auto;
}

/* -- -- -- Liens -- -- -- */
a {
    color: #fff;
}

a:visited {
    color: #ddd;
}

/* -- -- -- Listes -- -- -- */
ul {
    margin-inline: 10%;
}

/* -- -- -- Main -- -- -- */
main {
    width: 80%;
    margin-inline: auto;
}

main p, main h2 {
    text-align: center;
}

/* -- -- Tableaux dans le main -- -- */
main table {
    margin: auto;
}

main td, th {
    padding: 7.5px;
}

main th {
    text-align: right;
}

/* -- Menu avec boutons (.items) -- */
#menu {
    position: sticky;
    top: 0;
    width: 100%;
    height: 4em;
    background-color: #111;
    display: flex;
    flex-direction: row;
    font-family: 'Avenger', sans-serif;
}

.items {
    --border-color: linear-gradient(-45deg, #B97D10, #AA0505, #4B0908);
    --border-color-before: linear-gradient(-45deg, #111, #111, #111);
    --border-width: 0.25em;
    --curve-size: 0.5em;
    --bg: #111;
    cursor: pointer;
    position: relative;
    isolation: isolate;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0 1em 0;
    font-size: 19px;
    text-transform: uppercase;
    text-decoration: none;
    clip-path: polygon(
        /* Top-left */ 
        0% var(--curve-size),
        var(--curve-size) 0,
        /* top-right */ 
        100% 0,
        100% calc(100% - var(--curve-size)),
        /* bottom-right 1 */ 
        calc(100% - var(--curve-size)) 100%,
        /* bottom-right 2 */ 
        0 100%
    );
}

.items::after,
.items::before {
    content: "";
    position: absolute;
    inset: 0;
}

.items::before {
    background: var(--border-color-before);
    z-index: -2;
}

.items:hover::before {
    background: var(--border-color);
}

.items::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
        /* Top-left */ 
        var(--border-width)
        calc(var(--curve-size) + var(--border-width) * 0.5),
        calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
        /* top-right */ 
        calc(100% - var(--border-width)) var(--border-width),
        calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
        /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
        /* bottom-right 2 */ 
        var(--border-width) calc(100% - var(--border-width))
    );
    transition: clip-path 500ms;
}

.items:where(:hover, :focus)::after {
    clip-path: polygon(
        /* Top-left */ 
        calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
        calc(100% - var(--border-width)) var(--border-width),
        /* top-right */ 
        calc(100% - var(--border-width)) var(--border-width),
        calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
        /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
        /* bottom-right 2 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width))
    );
}

/* -- -- -- Contours -- -- -- */
:root {
    --tri-width: 7em;
    --bordure-color: #1a1a1a;
}

/* -- -- -- Triangles -- -- -- */
.triangle {
    position: fixed;
    height : 0;
    width : 0;
    border-top : var(--tri-width) solid var(--bordure-color);
    border-right : var(--tri-width) solid transparent;
}

.tri1 {
    top: 4em;
    left: 0;
}

.tri2 {
    top: 4em;
    right: 0;
    transform: rotate(90deg);
}

.tri3 {
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
}

.tri4 {
    bottom: 0;
    left: 0;
    transform: 
        rotate(-90deg);
}

/* -- -- -- Bordures -- -- -- */
.bordure {
    position: fixed;
    background-color: var(--bordure-color);
}

.bor1, .bor3 {
    width: 100%;
    height: 1.5em;
}

.bor2, .bor4 {
    width: 1.5em;
    height: 100%;
}

.bor1 {
    top: 4em;
    z-index: 2;
    border-top: solid 2px #4B0908;
}

.bor2 {
    right: 0;
}

.bor3 {
    bottom: 0;
}

.bor4 {
    left: 0;
}

/* -- -- Titre des pages -- -- */
header {
    padding-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0;
    font-family: 'Avenger', sans-serif;
}

h1 {
    background: linear-gradient(to right, rgb(75,9,8), rgb(170, 5, 5), rgb(185,125,16));
    background-size: auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: inline-block;
    padding-inline: 7.5px;
    padding-top: 12.5px;
    font-size: 40px;
}

/* -- -- Bordure des sections etc -- -- */
main#accueil .div1, main#accueil .div2, main#accueil .div3 > img,
main#sources section,
main#bio section,
main#info section {
    border: solid 2px #111;
    border-radius: 10px;
}

/* -- -- -- index.html -- -- -- */
@media screen and (min-width: 1024px) {
    main#accueil {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 10px;
    }
    
    main#accueil .div1 {
        grid-area: 1 / 1 / 3 / 5;
    }
    
    main#accueil .div2 {
        grid-area: 3 / 1 / 5 / 5;
    }
    
    main#accueil .div3 {
        grid-area: 1 / 5 / 5 / 7;
    }
    
    main#accueil .div1 div.container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1023px) {
    main#accueil {
        display: flex;
        flex-direction: column;
    }
    
    main#accueil .div1, main#accueil .div2, main#accueil .div3 {
        width: 90%;
        margin: 10px auto;
    }
}

main#accueil .div3 > img {
    margin-inline: 0;
    width: 100%;
}

/* -- -- -- sources.html -- -- -- */
main#sources section {
    display: block;
    margin-bottom: 15px;
}

/* -- -- -- biographie.html -- -- -- */
main#bio section p {
    margin: 0 5% 2.5% 5%;
}

.span-img {
    background: linear-gradient(to right, rgb(75,9,8), rgb(170, 5, 5), rgb(185,125,16));
    padding: 1.5px;
    border-radius: 5px;
    cursor: pointer;
}

#div-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    max-height: 90%;
    max-width: 90%;
    border: solid 2px #111;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0s;
}

.img-hover {
    z-index: 5;
    opacity: 1;
    transition: opacity 0.5s;
    cursor: pointer;
}

#opacityPage {
    background-color: #000;
    opacity: 0%;
    width: 0;
    height: 0;
    z-index: -2;
    cursor: default;
}

#opacityPage.show {
    position: fixed;
    top: 0;
    opacity: 30%;
    width: 100%;
    height: 100%;
    z-index: 4;
    cursor: pointer;
}

/* -- -- -- informations.html -- -- -- */
main#info section {
    display: block;
    margin-bottom: 15px;
}

main#info section p {
    margin: 0 5% 2.5% 5%;
}

main#info section img {
    width: 100%;
    border-radius: 10px;
}