/* -- -- Fonts & variables -- -- */
@font-face {
    font-family: 'Avenger';
    src: url('fonts/avenger.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-gradient: linear-gradient(90deg, #4B0908, #AA0505, #B97D10);
    --border-color: #4B0908;
}

/* -- Définition du css pour toutes les pages -- */
html {
    width: 100%;
    background-color: #212121;
    color: #fff;
    font-family: 'San Francisco', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    margin: auto auto 50px auto;
}

header {
    padding-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0;
}

h1 {
    background: var(--bg-gradient);
    background-size: auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: inline-block;
    padding-inline: 7.5px;
    padding-top: 12.5px;
    font-size: 40px;
    font-family: 'Avenger', sans-serif;
    text-decoration: none;
}

h1,
h2,
h3,
p {
    text-align: center;
}

a {
    color: #fff;
}

a:visited {
    color: #ccc;
}

input {
    background: transparent;
    color: #fff;
    border: solid 2px #111;
    border-radius: 10px;
    width: 20em;
    padding: 5px;
    margin-bottom: 10px;
}

img {
    width: 100%;
}

video {
    cursor: pointer;
}

ul {
    margin-inline: 10%;
}

main {
    width: 80%;
    margin-inline: auto;
}

section {
    border: solid 2px #111;
    border-radius: 10px;
    display: block;
    margin-bottom: 15px;
}

table {
    margin: auto;
}

td,
th {
    padding: 7.5px;
}

th {
    text-align: right;
}

/* -- Menu avec boutons (.items) -- */
#menu {
    position: sticky;
    top: 0;
    width: 100%;
    height: 4em;
    background-color: #111;
    display: flex;
    flex-direction: row;
    font-family: 'Avenger', sans-serif;
}

.items {
    --border-color-before: linear-gradient(-45deg, #111, #111, #111);
    --border-width: 0.25em;
    --curve-size: 0.5em;
    --bg: #111;
    cursor: pointer;
    position: relative;
    isolation: isolate;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0 1em 0;
    font-size: 19px;
    text-transform: uppercase;
    text-decoration: none;
    clip-path: polygon(
            /* Top-left */
            0% var(--curve-size),
            var(--curve-size) 0,
            /* top-right */
            100% 0,
            100% calc(100% - var(--curve-size)),
            /* bottom-right 1 */
            calc(100% - var(--curve-size)) 100%,
            /* bottom-right 2 */
            0 100%);
}

.items::after,
.items::before {
    content: "";
    position: absolute;
    inset: 0;
}

.items::before {
    background: var(--border-color-before);
    z-index: -2;
}

.items:hover::before {
    background: var(--bg-gradient);
}

.items::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
            /* Top-left */
            var(--border-width) calc(var(--curve-size) + var(--border-width) * 0.5),
            calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
            /* top-right */
            calc(100% - var(--border-width)) var(--border-width),
            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)),
            /* bottom-right 2 */
            var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
}

.items:where(:hover, :focus)::after {
    clip-path: polygon(
            /* Top-left */
            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
            calc(100% - var(--border-width)) var(--border-width),
            /* top-right */
            calc(100% - var(--border-width)) var(--border-width),
            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)),
            /* bottom-right 2 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)));
}

/* -- -- -- Contours -- -- -- */
:root {
    --tri-width: 7em;
    --bordure-color: #1a1a1a;
}

/* -- -- -- Triangles -- -- -- */
.triangle {
    position: fixed;
    height: 0;
    width: 0;
    border-top: var(--tri-width) solid var(--bordure-color);
    border-right: var(--tri-width) solid transparent;
}

.tri1 {
    top: 4em;
    left: 0;
}

.tri2 {
    top: 4em;
    right: 0;
    transform: rotate(90deg);
}

.tri3 {
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
}

.tri4 {
    bottom: 0;
    left: 0;
    transform:
        rotate(-90deg);
}

/* -- -- -- Bordures -- -- -- */
.bordure {
    position: fixed;
    background-color: var(--bordure-color);
}

.bor1,
.bor3 {
    width: 100%;
    height: 1.5em;
}

.bor2,
.bor4 {
    width: 1.5em;
    height: 100%;
}

.bor1 {
    top: 4em;
    z-index: 2;
    border-top: solid 2px var(--border-color);
}

.bor2 {
    right: 0;
}

.bor3 {
    bottom: 0;
}

.bor4 {
    left: 0;
}