/* -- -- -- index.html -- -- -- */
@media screen and (min-width: 1024px) {
    main#accueil {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 10px;
    }

    main#accueil .div1 {
        grid-area: 1 / 1 / 3 / 5;
    }

    main#accueil .div2 {
        grid-area: 3 / 1 / 5 / 5;
    }

    main#accueil .div3 {
        grid-area: 1 / 5 / 5 / 7;
    }

    main#accueil .div1 div.container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1023px) {
    main#accueil {
        display: flex;
        flex-direction: column;
    }

    main#accueil .div1,
    main#accueil .div2,
    main#accueil .div3 {
        width: 90%;
        margin: 10px auto;
    }
}

main#accueil .div1,
main#accueil .div2 {
    border: solid 2px #111;
    border-radius: 10px;
}

main#accueil .div3>img {
    margin-inline: 0;
    width: 100%;
    border: solid 2px #111;
    border-radius: 10px;
}

main#accueil .div3 {
    border: none;
}

/* -- -- -- biographie.html -- -- -- */
main#bio section p {
    margin: 0 5% 2.5% 5%;
}

.span-img {
    background: linear-gradient(to right, rgb(75, 9, 8), rgb(170, 5, 5), rgb(185, 125, 16));
    padding: 1.5px;
    border-radius: 5px;
    cursor: pointer;
}

#div-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    max-height: 90%;
    max-width: 90%;
    border: solid 2px #111;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0s;
}

.img-hover {
    z-index: 5;
    opacity: 1;
    transition: opacity 0.5s;
    cursor: pointer;
}

#opacityPage {
    background-color: #000;
    opacity: 0%;
    width: 0;
    height: 0;
    z-index: -2;
    cursor: default;
}

#opacityPage.show {
    position: fixed;
    top: 0;
    opacity: 30%;
    width: 100%;
    height: 100%;
    z-index: 4;
    cursor: pointer;
}

/* -- -- -- informations.html -- -- -- */
main#info section {
    display: block;
    margin-bottom: 15px;
}

main#info section p {
    margin: 0 5% 2.5% 5%;
}

main#info section>video {
    width: 100%;
    border-radius: 10px;
}

/* -- -- -- films.html -- -- -- */
main#films section {
    margin-bottom: 15px;
}

.bo-video-container,
.bo-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bo-video-container video {
    width: 33.34%;
}

.bo-text-container h3 {
    width: 33.34%;
    text-align: center;
}